BeautifulSoup==3.2.1
Pillow==2.5.3
boto==2.32.1
certifi==14.05.14
cssselect==0.9.1
distribute==0.6.49
gnureadline==6.3.3
goose-extractor==1.0.20
ipython==2.2.0
jieba==0.32
lxml==3.3.6
nltk==3.0.0b2
requests==2.4.0
stevedore==0.10
virtualenv==1.9.1
virtualenv-clone==0.2.4
virtualenvwrapper==4.0
wsgiref==0.1.2
